html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* =========================================
   NEW CSS
========================================= */

.destinations-one__title a {
  color: white !important;
}

/* a{
  color: white !important;
} */

.about-one__discount h3 {
  color: white !important;
}

/* =========================================
   HEADER
========================================= */

.main-header {
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
}

/* Top dark bar full width */
.main-header__top {
  width: 100% !important;
}

/* Navbar full width */
.main-menu {
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
}

/* Actual content = 1400px */
.main-header .container {
  width: 100% !important;
  max-width: 1400px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.main-header__top-left {
  margin-left: 81px !important;
}

.icon {
  position: static !important;
  flex-shrink: 0 !important;
  margin-right: 8px !important;
}

.text {
  position: static !important;
}

li {
  display: flex !important;
}

/* =========================================
   STICKY HEADER
========================================= */

/* Scroll ke baad sticky header */
/* Sticky header full screen */

.stricky-header.stricked-menu.stricky-fixed {
  width: 100% !important;
  max-width: none !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  transform: none !important;
}

/* Header ke andar ka content */

.stricky-header.stricked-menu.stricky-fixed
  .main-menu-wrapper {
  width: 100%;
}

.stricky-header.stricked-menu.stricky-fixed
  .main-menu-wrapper > .container {
  max-width: 1400px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

/* =========================================
   FLEET
========================================= */

/* .myitem {
  padding: 22px 10px !important;
}

.myitem:hover {
  background: blue !important;
  color: #ffff !important;
} */

.my-item {
  position: relative;
  padding: 22px 5px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.my-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 12px;
  width: 0;
  height: 2px;
  background: #e8604c;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.my-item:hover {
  color: #e8604c;
}

.my-item:hover::after {
  width: 70%;
}

/* =========================================
   PAGE HEADER
========================================= */

.page-header__top {
  padding: 161px 0 !important;
}

.page-header__top-inner h2 {
  font-size: 40px;
  color: var(--thm-base);
  font-weight: 700;
  line-height: 50px;
  letter-spacing: var(--thm-letter-spacing);
  position: absolute;
  left: 50%;
  bottom: -75px;
}

.page-header__top-inner a {
  color: var(--thm-base);
  line-height: 50px;
  letter-spacing: var(--thm-letter-spacing);
  position: absolute;
  left: 43%;
  bottom: -75px;
}

page-header__top-inner p {
  color: var(--thm-base);
  line-height: 50px;
  letter-spacing: var(--thm-letter-spacing);
  position: absolute;
  left: 42%;
  bottom: -75px;
}

.breadcrumb-link {
  color: blue !important;
}

/* =========================================
   ABOUT
========================================= */

.about-page__text-1 {
  font-size: 16px !important;
  font-weight: 700;
  line-height: 27px !important;
  letter-spacing: var(--thm-letter-spacing);
  margin: 0;
  padding-bottom: 24px;
}

/* =========================================
   FOOTER
========================================= */

/* fotter */

/* footer */


/* =========================================
   VIDEO
========================================= */

/* =========================================
   WHY CHOOSE
========================================= */

/* =========================================
   TODAY ADD CSS FOR RESPONSIVE
========================================= */

@media (max-width: 1440px) {
  /* Main Slider */
  .main-slider-container {
    padding: 0 120px !important;
  }
}

/* =========================================
   RESPONSIVE - 1024px
========================================= */

@media (max-width: 1024px) {

  .main-menu-wrapper__logo {
    margin-right: 643px !important;
    padding-top: 14px !important;
    padding-bottom: 22.5px !important;
  }

  .container {
    flex-wrap: nowrap !important;
  }

  /* Main Slider */
  .main-slider-container {
    padding: 0 196px !important;
  }

  .page-header__top-inner a {
    left: 41% !important;
  }
}

/* =========================================
   RESPONSIVE - 768px
========================================= */

@media (max-width: 768px) {

  .main-menu-wrapper__right a {
    display: none !important;
  }

  .container {
    flex-wrap: wrap !important;
    padding-right: 20px !important;
  }

  .leftbasis {
    flex: none !important;
  }

  .main-menu-wrapper__logo {
    margin-right: 477px !important;
    padding-top: 14px !important;
    padding-bottom: 22.5px !important;
  }

  .why-choose__container.jsx-452fc93955813f9c {
    flex-direction: column;
    width: 100% !important;
  }

  /* Main Slider */
  .main-slider-container {
    padding: 0 179px !important;
  }

  /* one day details page css */

  .container {
    display: block !important;
  }

  .leftbasis {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important;
    box-sizing: border-box !important;
    min-width: 0 !important;
    margin-bottom: 30px;
  }
}

/* =========================================
   RESPONSIVE - 769px
========================================= */

@media (max-width: 769px) {

  .page-header__top-inner a {
    left: 38% !important;
  }
}

/* =========================================
   RESPONSIVE - 500px
========================================= */

@media (max-width: 500px) {

  .video-one__icon-box {
    margin-bottom: 15px;
    margin-left: 65px !important;
    margin-right: 82px !important;
  }
}

/* =========================================
   RESPONSIVE - 430px
========================================= */

@media (max-width: 430px) {

  /* Header */

  .main-menu-wrapper__logo {
    position: relative;
    float: left;
    padding-top: 14px !important;
    padding-bottom: 22.5px !important;
    margin-right: 134px;
  }

  .main-menu-wrapper__logo {
    margin-right: 0 !important;
  }

  /* Main Slider */

  .main-slider-nav {
    display: none !important;
  }

  .main-slider-container {
    padding: 0 20px !important;
  }

  /* Footer */

  .site-footer__bottom {
    display: none !important;
  }

  .site-footer__top-inner {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
  }

  /* Video */

  .video-one__video-link {
    margin-left: 66px !important;
  }

  /* Our Fleet */

  .ourflete-heading {
    font-size: 40px !important;
  }

  .texi-heading {
    font-weight: 700 !important;
    font-size: 30px !important;
  }

  /* Page Header */

  .page-header__top-inner h2 {
    bottom: -71px !important;
    font-size: 28px !important;
  }

  .page-header__top-inner a {
    left: 30% !important;
  }

  /* About */

  .about-page {
    padding: 48px 0 120px !important;
  }

  .about-page__right {
    padding-left: 15px !important;
  }

  /* Information */

  .information {
    padding: 0 0 10px !important;
  }

  /* Contact */

  .contact-page {
    padding: 50px 0 60px !important;
  }

  .contact-page-google-map__one {
    height: 237px !important;
  }
}

/* =========================================
   VERY SMALL MOBILE - 375px
========================================= */

@media (max-width: 375px) {

  .main-menu-wrapper__logo {
    margin-right: 0 !important;
  }
}